absl-py==0.5.0
astor==0.7.1
bleach==1.5.0
certifi==2018.10.15
chardet==3.0.4
Click==7.0
cymem==2.0.2
cytoolz==0.9.0.1
dill==0.2.8.2
Flask==1.0.2
gast==0.2.0
grpcio==1.15.0
html5lib==0.9999999
idna==2.7
itsdangerous==0.24
Jinja2==2.10
Markdown==3.0.1
MarkupSafe==1.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
nltk==3.4.5
numpy==1.15.2
plac==0.9.6
preshed==2.0.1
protobuf==3.6.1
regex==2018.1.10
requests>=2.20.0
six==1.11.0
spacy==2.0.16
tensorboard==1.7.0
tensorflow==1.12.2
termcolor==1.1.0
thinc==6.12.0
toolz==0.9.0
tqdm==4.27.0
ujson==1.35
urllib3==1.24.2
Werkzeug==0.15.3
wrapt==1.10.11
celery[redis]